.menu-on-top {
    margin-top: 20px;
    max-width: 1300px;
    margin: 0 auto;
    font-size: 30px;
}

.nav-link {
    margin: 1rem;
}

.logged-layout {
    float: 'left';
    width: 80;
    height:40;
    margin: '14px 0px 0 178px';
    background: 'rgba(180, 180, 180, 1)';
}